.loaderBody {
  display: flex;
  min-height: calc(100vh - 208.8px);
  justify-content: center;
  align-items: center;
}

.bigCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px dashed #090c17;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bigCircle 5s infinite linear;
}

.smallCircle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px dashed #d99a35;
  animation: smallCircle 3s infinite linear;
}

@keyframes bigCircle {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes smallCircle {
  0% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}
