.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  margin: 0 8px;
  font-size: 1.1rem;
}

.changeCount {
  font-size: 1.7rem;
  color: #d39937;
  cursor: pointer;
  transition: color 0.2s linear;
}

.changeCount:hover {
  color: #2a2a2a;
}
