.modal {
  border-radius: 15px;
  display: none;
  top: 160%;
  min-height: 60px;
  width: 380px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(239 239 239);
  background-color: rgb(32 32 32 / 70%);
  font-size: 1.1rem;
  position: absolute;
  cursor: default;
}

.header {
  border-bottom: 0.3px solid #d99a35;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: rgb(13 13 13 / 80%);
  border-radius: 15px 15px 0 0;
  color: #e6e6e6;
}

.active {
  display: block;
}

.modalContent {
  padding: 15px;

  /* max-height: 240px; */
}

.modalFooter {
  padding: 6px;
  display: flex;
  background-color: rgb(13 13 13 / 80%);
  border-radius: 0 0 15px 15px;
  align-items: center;
  justify-content: space-around;
  border-top: 0.3px solid #d99a35;
}

.totalPrice {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modalButton {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #d99a35;
}

.thanks {
  display: none;
  color: #2a2a2a;
  padding: 3px;
  border-radius: 0 0 15px 15px;
  background-color: #d99a35;
  justify-content: center;
  align-items: center;
}

.activeThanks {
  display: flex;
}

@media (max-width: 1000px) {
  .modal {
    font-size: 0.9rem;
    width: 300px;
    transform: translateX(-85%);
  }
}
