.cartItemWrapper {
  display: flex;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.cartItem:not(.cartItem:last-child) {
  margin-bottom: 5px;
  border-bottom: 0.2px solid #1c1c1c;
}

.name {
  width: 105px;
}

.price {
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem .cartImg {
  width: 30px;
  height: 30px;
}

.cross {
  color: rgba(250, 213, 24, 0.8);
  cursor: pointer;
  transition: color 0.2s linear;
}

.cross:hover {
  color: rgba(205, 168, 0, 0.7);
}
